.videoContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

.file-upload {
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    padding: 5px 8px;
    color: black;
}

.backgroundContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video {
    width: 100%;
    height: auto;
}

.videoContent {
    width: 95%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
}




.loader {
    width: 100%;
    height: 100%;
}

@media (max-width: 10069px) {
    .container {
        flex-direction: column;
        max-width: 100vw;
        height: 100vh;
    }
    .videoContainer {
        width: 100%;
        height: 85%;
    }
    .video {
        height: 100%;
    }
    .backgroundContainer {
        width: 100%;
        height: 100%;
    }
    .videoContent {
        width: 95%;
        height: 95%;
        margin-bottom: 0px;
    }

    .file-upload {
        bottom: 10px;
      position: absolute;
    }
}

#vbackground {
  height: 0px;
}